<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm khung chương trình</title>
</head>
<body>
<h1>Thêm Khung Chương Trình</h1>

<form th:action="@{/khungchuongtrinh/add}" th:object="${khungChuongTrinh}" method="post">
    Tên kiến thức: <input type="text" th:field="*{tenKienThuc}" /> <br/>
    Khối kiến thức: <input type="text" th:field="*{khoiKenThuc}" /> <br/>
    Số tín chỉ: <input type="number" th:field="*{soTinChi}" /> <br/>
    Số tín chỉ bắt buộc: <input type="number" th:field="*{soTinChiBatBuoc}" /> <br/>
    <button type="submit">Lưu</button>
</form>

<a th:href="@{/khungchuongtrinh}">Quay lại danh sách</a>
</body>
</html>
