<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sửa Khung Chương Trình</title>
</head>
<body>
<h1>Sửa Khung Chương Trình</h1>

<form th:action="@{'/admin/khungchuongtrinh/edit/' + ${khungChuongTrinh.id}}" th:object="${khungChuongTrinh}" method="post">
    Tên Kiến Thức: <input type="text" th:field="*{tenKienThuc}" /> <br/>
    Khối Kiến Thức: <input type="text" th:field="*{khoiKenThuc}" /> <br/>
    Số Tín Chỉ: <input type="number" th:field="*{soTinChi}" /> <br/>
    Số Tín Chỉ Bắt Buộc: <input type="number" th:field="*{soTinChiBatBuoc}" /> <br/>
    <button type="submit">Cập nhật</button>
</form>

<a th:href="@{/admin/khungchuongtrinh}">Quay lại danh sách</a>
</body>
</html>
