<!-- File: src/main/resources/templates/admin/decuongchitiet/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sửa đề cương chi tiết</title>
</head>
<body>
<h1>Sửa Đề Cương Chi Tiết</h1>

<form th:action="@{'/admin/decuongchitiet/edit/' + ${deCuongChiTiet.id}}" th:object="${deCuongChiTiet}" method="post">
  Bộ phận được đánh giá: <input type="text" th:field="*{boPhanDuocDanhGia}" /> <br/>
  <button type="submit">Cập nhật</button>
</form>

<a th:href="@{/admin/decuongchitiet}">Quay lại danh sách</a>
</body>
</html>