<!-- File: src/main/resources/templates/admin/giangvien/edit.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sửa Giảng Viên</title>
</head>
<body>
<h1>Sửa Giảng Viên</h1>

<form th:action="@{'/admin/giangvien/edit/' + ${giangVien.id}}" th:object="${giangVien}" method="post">
  Mã Cán Bộ: <input type="text" th:field="*{maCB}" /> <br/>
  Mật Khẩu: <input type="password" th:field="*{matKhau}" /> <br/>
  Họ Tên: <input type="text" th:field="*{hoTen}" /> <br/>
  Năm Sinh: <input type="number" th:field="*{namSinh}" /> <br/>
  Học Vị: <input type="text" th:field="*{hocVi}" /> <br/>
  <button type="submit">Cập nhật</button>
</form>

<a th:href="@{/admin/giangvien}">Quay lại danh sách</a>
</body>
</html>