<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sửa kế hoạch dạy học</title>
</head>
<body>
<h1>Sửa Kế hoạch Dạy Học</h1>

<form th:action="@{'/kehoachdayhoc/edit/' + ${keHoachDayHoc.id}}" th:object="${keHoachDayHoc}" method="post">
    Học kỳ thực hiện: <input type="text" th:field="*{hockiThucHien}" /> <br/>
    Năm học: <input type="number" th:field="*{namHoc}" /> <br/>
    <button type="submit">Cập nhật</button>
</form>

<a th:href="@{/kehoachdayhoc}">Quay lại danh sách</a>
</body>
</html>
