<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm chương trình đào tạo</title>
</head>
<body>
<h1>Thêm Chương Trình Đào Tạo</h1>

<form th:action="@{/admin/chuongtrinhdaotao/add}" th:object="${chuongTrinhDaoTao}" method="post">
    <input type="text" th:field="*{tenCdt}" placeholder="Tên CDT" /> <br/>
    <input type="text" th:field="*{bacCdt}" placeholder="Bậc CDT" /> <br/>
    <input type="text" th:field="*{loaiBangCdt}" placeholder="Loại Bằng" /> <br/>
    <input type="text" th:field="*{thoiGian}" placeholder="Thời Gian" /> <br/>
    <input type="number" th:field="*{soTinChiToiThieu}" placeholder="Số tín chỉ tối thiểu" /> <br/>
    <input type="text" th:field="*{khoaQuanLy}" placeholder="Khoa Quản Lý" /> <br/>
    <input type="text" th:field="*{ngonNgu}" placeholder="Ngôn Ngữ" /> <br/>

    <button type="submit">Lưu</button>
</form>

<a th:href="@{/admin/chuongtrinhdaotao}">Quay lại danh sách</a>

</body>
</html>
