<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${khungchuongtrinh.id} != null ? 'Chỉnh sửa Khung chương trình' : 'Thêm Khung chương trình'">Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="container mt-4">

  <form th:action="@{/ctdt_khungchuongtrinh/save}" th:object="${khungchuongtrinh}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <!-- CTDT ID -->
    <div class="mb-3">
      <label class="form-label">CTDT ID</label>
      <select id="ctdtId"
              th:field="*{ctdtId}"
              class="form-select"
              required>
        <option value="">-- Chọn --</option>
        <option th:each="ttc : ${thongtinchung}"
                th:value="${ttc.id}"
                th:text="${ttc.maCtdt}"></option>
      </select>
      <label for="ctdtId">Mã CTDT</label>
      <div th:if="${#fields.hasErrors('ctdtId')}" class="text-danger" th:errors="*{ctdtId}"></div>
    </div>


    <!-- Mã nhóm -->
    <div class="mb-3">
      <label class="form-label">Mã nhóm</label>
      <input type="text" th:field="*{maNhom}" class="form-control" required/>
      <div th:if="${#fields.hasErrors('maNhom')}" class="text-danger" th:errors="*{maNhom}"></div>
    </div>

    <!-- Tên nhóm -->
    <div class="mb-3">
      <label class="form-label">Tên nhóm</label>
      <input type="text" th:field="*{tenNhom}" class="form-control" required/>
      <div th:if="${#fields.hasErrors('tenNhom')}" class="text-danger" th:errors="*{tennhom}"></div>
    </div>

<!--    &lt;!&ndash; Số TC tối thiểu &ndash;&gt;-->
<!--    <div class="mb-3">-->
<!--      <label class="form-label">Số tín chỉ tối thiểu</label>-->
<!--      <input type="number" th:field="*{soTinChiToiThieu}" class="form-control" required/>-->
<!--      <div th:if="${#fields.hasErrors('soTinChiToiThieu')}" class="text-danger" th:errors="*{soTinChiToiThieu}"></div>-->
<!--    </div>-->

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a th:href="@{/ctdt_khungchuongtrinh}" class="btn btn-secondary">Hủy</a>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
