<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <div th:insert="~{admin/fragments/_link}"></div> <!-- Chèn các liên kết CSS -->
</head>
<body id="page-top">
<div id="wrapper">
  <div th:insert="~{admin/fragments/_navbar}"></div> <!-- Navbar -->
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div th:insert="~{admin/fragments/_headernav}"></div> <!-- Header navigation -->
      <div class="container-fluid">
        <div layout:fragment="content"></div> <!-- Content trang chính thay đổi tại đây -->
      </div>
    </div>
    <div th:insert="~{admin/fragments/_footer}"></div> <!-- Footer -->
  </div>
</div>
<div th:insert="~{admin/fragments/_lib}"></div> <!-- Liên kết các script JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

</body>
</html>
