<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thêm học phần</title>
</head>
<body>
<h1>Thêm học phần mới</h1>

<form th:action="@{/hocphan/add}" th:object="${hocPhan}" method="post">
  Tên học phần: <input type="text" th:field="*{tenHocPhan}"/> <br/>
  Mã học phần: <input type="text" th:field="*{maHocPhan}"/> <br/>
  Số tín chỉ: <input type="number" th:field="*{soTinChi}"/> <br/>
  <button type="submit">Lưu</button>
</form>

<a th:href="@{/hocphan}">Quay lại danh sách</a>
</body>
</html>
